@charset "utf-8";

.margen1{
    margin-left: 20px;
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

.margen2{
    margin-left: 100px;
    margin-top: 11px;  
}

.conte-creatucuenta{
    position: absolute;
    width: 295px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    height: 52px;
    left: 856px;
    top: 60px;
}

.organization{
    position: absolute;
    display: flex;
    width: 5100px;
    height: 340px;
    gap: 25px;
    left: 180px;
    top: 60px;
    
}

.organization1{
    flex-direction: column;
    
}
.margen3{
    margin-left: 148;
    margin-right: 164;
}
.nav-header {
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #fff159;
    border: 0;
    position: relative
}

.nav-header-plus .nav-bounds {
    display: grid;
    grid-template-areas: "nav-left-top nav-center-top nav-right-top" "nav-left-bottom nav-center-bottom nav-right-bottom";
    grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
    grid-template-rows: 40px 28px;
    column-gap: 24px;
    grid-column-gap: 24px;
    row-gap: 12px;
    grid-row-gap: 12px;
    padding: 8px 10px 12px 10px
}

.nav-header-plus .nav-area {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.cont-div-header1{
    position: absolute;
    width: 1200px;
    height: 92px;
    left: calc(50% - 1200px/2);
    top: 0px;
}

.pseudo-header{
    position: absolute;
    width: 1512px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.002);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}
.nav-logo {
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -999px;
    font-size: 15px;
    background-image: url("https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.22.5/mercadolibre/logo__large_plus.png");
    height: 34px;
    width: 134px;
    display: flex;
    position: static;
    left: 0;
    top: 0
}
.logo-mercadolibre{
    position: absolute;
    left: 10px;
    top: 11px;
}

.nav-header-div12{
    margin-left: 200px;
    margin-top: 8px;
    height: 50px;
    width: 598px;
}

input[type=text].nav-search-input,input[type=search].nav-search-input {
    position: relative;
    z-index: 920;
    color: #333;
    font-size: 15px;
    margin: 0;
    font-family: Roboto, sans-serif;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 15px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: 1.5px
}

input[type=text].nav-search-input::-webkit-input-placeholder, input[type=search].nav-search-input::-webkit-input-placeholder {
    color: rgba(0,0,0,.25);
    font-size: 15px;
    font-weight: 400
}

button.nav-search-btn,button.nav-search-btn:focus {
    position: absolute;
    z-index: 920;
    padding: 0;
    background: none;
    border: none;
    font-size: 15px;
    color: #666;
    line-height: 1em;
    border-radius: 0 2px 2px 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: none;
    background-color: rgba(0,0,0,0);   
}

button.nav-search-btn:before,button.nav-search-btn:focus:before {
    content: "";
    display: block;
    height: 36px;
    border-left: 2px solid #e6e6e6;
}

.nav-search {
    will-change: left;
    transition: left .15s ease-out;
    max-width: 720px;
    left: -1px;
    display: flex;
    width: 100%;
    height: 36px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;  
}

.nav-header-visually-hidden {
    position: absolute;
    z-index: -1;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: 0 -1px -1px 0;
    overflow: hidden;
    padding: 0;
    display: block
}

.div-novedades-pp{
    position: absolute;
    width: 1512px;
    height: 100px;
    margin-left: 0px;
    margin-right: 0px;
    top: 0px;

}

.a-img-novedades{
    position: absolute;
    width: 1512px;
    height: 100px;
    left: calc(50% - 1512px/2);
    top: 105px;
    background: url(.png);
}

.ulnovedades{
    position:absolute;
    width: 60px;
    height: 6px;
    margin-top: 418px;
    margin-left: 726px;
}



.formas-de-pago{
    position: absolute;
    width: 1184px;
    height: 90px;
    left: calc(50% - 1184px/2);
    top: 480px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.mediospagos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 913.97px;
    height: 130px;
    left: 0px;
    top: 0px;
}

.masmediospagos{
    box-sizing: border-box;
    position: absolute;
    width: 270.03px;
    height: 130px;
    left: 913.97px;
    top: 0px;
    border-left: 1px solid #EEEEEE;
}

.cuotas{
    width: 304.66px;
    height: 130px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.transferencias{
    width: 304.66px;
    height: 130px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}

.pagaefectivo{
    width: 304.66px;
    height: 130px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 1;
}

.text-num-cuotas{
    position: absolute;
    width: 125px;
    height: 20px;
    left: 84px;
    top: 24px;
    font-family: Roboto, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.text-vermas-cuotas{
    position: absolute;
    width: 48px;
    height: 15px;
    left: 84px;
    top: 47px;
    font-family: Roboto, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #3483FA;
}

.text-transferencia{
    position: absolute;
    width: 224px;
    height: 20px;
    left: 380px;
    top: 24px;
    font-family: Roboto, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.text-vermas-transfer{
    position: absolute;
    width: 48px;
    height: 15px;
    left: 380px;
    top: 47px;
    font-family: Roboto, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #3483FA;
}

.text-pagaefectivo{
    position: absolute;
    width: 126px;
    height: 20px;
    left: 680px;
    top: 24px;
    font-family: Roboto, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.text-vermas-pagaefectivo{
    position: absolute;
    width: 48px;
    height: 15px;
    left: 680px;
    top: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #3483FA;
}

.text-masmedios{
    position: absolute;
    width: 159px;
    height: 20px;
    left: 85px;
    top: 24px;
    font-family: Roboto, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.text-vertodos{
    position: absolute;
    width: 56px;
    height: 15px;
    left: 85px;
    top: 47px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #3483FA;
}

/* ######## CONTENEDOR OFERTAS ########*/

.ofertas-pp{
    position: absolute;
    width: 1200px;
    height: 460.19px;
    left: calc(50% - 1200px/2);
    top: 580px;
  }

  .ofertas-titulo{
    position: absolute;
    width: 173.3px;
    height: 31.19px;
    left: 0px;
    top: 40px;
  }

  .barra-ofertas{
    position: absolute;
    width: 1200px;
    height: 415px;
    left: 0px;
    top: 93.19px;
  }

  .texto-ofertas{
    position: absolute;
    width: 82px;
    height: 32px;
    left: 8px;
    top: 0px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    /* identical to box height, or 125% */
    display: flex;
    align-items: center;
    color: #666666;
  }

  .texto-vertdas{
    position: absolute;
    width: 64px;
    height: 20px;
    left: 106.38px;
    top: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 128% */
    display: flex;
    align-items: center;
    color: #3483FA;
  }

  .barra-ofertas-inter{
    position: absolute;
    width: 8400px;
    height: 366px;
    left: 0px;
    top: 0px;
  }

  .contene-silla{
    position: absolute;
    width: 224px;
    height: 350px;
    left: 8px;
    top: -5px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .oferta-silla{
    box-sizing: border-box;
    position: absolute;
    width: 224px;
    height: 130.38px;
    left: 0px;
    top: 22px;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
  }

  .conte-oferta-armario{
    box-sizing: border-box;
    position: absolute;
    width: 224px;
    height: 130.38px;
    left: 0px;
    top: 224px;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
  }

  .text-precioarmariodescuento{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 1.32812px 0px 0px;
    gap: 10px;
    position: absolute;
    width: 169.42px;
    height: 24px;
    left: 0px;
    top: 0px;
  }
  .conte-precio-armario{
    box-sizing: border-box;
    position: absolute;
    width: 224px;
    height: 130.38px;
    left: 0px;
    top: 224px;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
  }

  .envio-gratis-silla{
    position: absolute;
    width: 73.18px;
    height: 20px;
    left: 0px;
    top: 29px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* or 123% */
    display: flex;
    align-items: center;
    color: #00A650;
  }

  .precio-silla-descuento{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 1px 0px 0px;
    gap: 10px;
    position: absolute;
    width: 170.31px;
    height: 24px;
    left: 0px;
    top: 0px;
  }

  .estilo-precios-descuento{
    width: 74px;
    height: 24px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    color: #333333;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .simbolo-precio{
    width: 14px;
    height: 24px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    color: #333333;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .valor-silla{
    width: 84px;
    height: 24px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 24px;
    /* identical to box height, or 104% */
   display: flex;
    align-items: center;
   color: #333333;
   /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .descuesto-off{
    width: 55px;
    height: 16px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #00A650;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .contene-microfono{
    position: absolute;
    width: 224px;
    height: 350px;
    left: 248px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .oferta-microfono{
    box-sizing: border-box;
    position: absolute;
    width: 230px;
    height: 134.39px;
    left: 0px;
    top: 224px;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
  }

  .conten-precio-microfono{
    position: absolute;
    width: 192px;
    height: 51px;
    left: 16px;
    top: 20px;

  }

  .enviogratis-full{
    position: absolute;
    width: 192px;
    height: 10px;
    left: 80px;
    top: 35px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* or 123% */
    display: flex;
    align-items: center;
    color: #00A650;
  }

  .text-eviomicro{
    position: absolute;
    width: 75px;
    height: 20px;
    left: 0px;
    top: 29px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* or 123% */
    display: flex;
    align-items: center;
    color: #00A650;
  }

  .envios-gratis{
    position: absolute;
    width: 75px;
    height: 20px;
    left: 0px;
    top: 29px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* or 123% */
    display: flex;
    align-items: center;
    color: #00A650;
  }

  .text-precio-micro{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 1.45312px 0px 0px;
    gap: 10px;
    position: absolute;
    width: 159.81px;
    height: 24px;
    left: 0px;
    top: 0px;
  }

  .text-preciomicro-inte{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0.328125px 0px 0px;
    gap: 5.03px;
    width: 93.36px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .contene-afeitadora{
    position: absolute;
    width: 224px;
    height: 350px;
    left: 488px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .conte-precio-afeita{
    box-sizing: border-box;
    position: absolute;
    width: 224px;
    height: 130.38px;
    left: 0px;
    top: 224px;

    border-top: 1px solid rgba(51, 51, 51, 0.1);
  }

  .contene-precio-armario{
    position: absolute;
    width: 198px;
    height: 47px;
    left: 16px;
    top: 19px;
  }

  .conte-precio-corti{
    position: absolute;
    width: 192px;
    height: 51px;
    left: 16px;
    top: 19px;
  }

  .porcentaje-decuentocortinas{
    position: absolute;
    width: 51px;
    height: 15px;
    left: 105.23px;
    top: 4px;

    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #00a650;
  }

  .contene-precio-afeita{
    position: absolute;
    width: 198px;
    height: 47px;
    left: 16px;
    top: 19px;
  }

  .text.precio-afeita{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 1.79688px 0px 0px;
    gap: 10px;

    position: absolute;
    width: 169.28px;
    height: 24px;
    left: 0px;
    top: 0px;
  }

  .text.precio-armario{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 1.79688px 0px 0px;
    gap: 10px;
    position: absolute;
    width: 169.28px;
    height: 24px;
    left: 0px;
    top: 0px;
  }

  .text-precio-corti{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 1.79688px 0px 0px;
    gap: 10px;
    position: absolute;
    width: 169.28px;
    height: 24px;
    left: 0px;
    top: 0px;
  }

  .contenedor-armario{
    position: absolute;
    width: 224px;
    height: 350px;
    left: 728px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .contenedor-cortinas{
    position: absolute;
    width: 224px;
    height: 350px;
    left: 968px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .conte-oferta-cortinas{
    box-sizing: border-box;
    position: absolute;
    width: 224px;
    height: 134.38px;
    left: 0px;
    top: 224px;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
  }

  /* ######## MODULO SUSCRIBETE AL NIVEL 6 ########*/

  .subscribete-nivel6-pp{
    position: absolute;
    width: 1180px;
    height: 340px;
    left: 80px;
    top: 1080.19px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

  .suscribete-nivel-arriba{
    position: absolute;
    width: 1180px;
    height: 87px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
  }

  .suscribete-nivel-centro{
    position: absolute;
    width: 1180px;
    height: 172px;
    left: 0px;
    top: 87px;
  }

  .consigue-mejores-precios{
    position: absolute;
    width: 400.15px;
    height: 25px;
    left: 24px;
    top: 20px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;

  }

  .barra-envios{
    position: absolute;
    width: 1132px;
    height: 74px;
    left: 24px;
    top: 74px;
  }

  .disneysincargo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 168.328px 0px 0px;
    gap: 16px;
    position: absolute;
    width: 377.33px;
    height: 74px;
    left: 0px;
    top: 0px;
  }

  .textdisneysincargo{
    width: 119px;
    height: 16px;   
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .cont-disney-sincargo{
    box-sizing: border-box;
    width: 74px;
    height: 74px;
    border: 1px solid #EFEFEF;
    border-radius: 37px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .ldiseyplus{
    position: absolute;
    height: 72px;
    left: 1px;
    right: 1px;
    top: 1px;
  }
  
  .envios-gratis{
    position: absolute;
    width: 73.18px;
    height: 20px;
    left: 780px;
    top: 29px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #00A650;
  }

  .text-carritoenvios{
    width: 240.39px;
    height: 48px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .conte-carro-envios{
    box-sizing: border-box;
    width: 74px;
    height: 74px;
    border: 1px solid #EFEFEF;
    border-radius: 37px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .starsinrecargo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 186.328px 0px 0px;
    gap: 16px;
    position: absolute;
    width: 377.33px;
    height: 74px;
    left: 377.33px;
    top: 0px;
  }

  .textstarsinrecargo{
    width: 101px;
    height: 16px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .conten-star-sinrecargo{
    box-sizing: border-box;
    width: 74px;
    height: 74px;
    border: 1px solid #EFEFEF;
    border-radius: 37px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .lstarplus{
    position: absolute;
    height: 72px;
    left: 1px;
    right: 1px;
    top: 1px;
  }

  .text-boton-sucribete-nivel{
    position: absolute;
    width: 75.92px;
    height: 23px;
    left: 24px;
    top: 12px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }

  .boton-suscribete-nivel{
    position: absolute;
    width: 96px;
    height: 36px;
    left: 1050px;
    top: 25.59px;    
    background: #3483FA;
    border-radius: 5px;
  }

  .suscribete-nivel-abajo{
   box-sizing: border-box;
    position: absolute;
    width: 1180px;
    height: 81px;
    left: 0px;
    top: 259px;
    border-top: 1px solid #EDEDED;
  }

  .texto-sucribete-nivel{
    position: absolute;
    width: 245px;
    height: 38px;
    left: 24px;
    top: 24.5px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }

  .suscribete-precio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 2px;
    isolation: isolate;

    position: absolute;
    width: 123.94px;
    height: 40px;
    left: 1032.06px;
    top: calc(50% - 40px/2);

  }

  .precio-suscripcion{
    width: 56px;
    height: 14px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: line-through;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
  }

  .precio-mes{
    width: 123.94px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
  }

  .mes{
    position: absolute;
    width: 30px;
    height: 14px;
    left: 85px;
    top: 20px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
  }

  .cont-precio-mes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 4.45312px 5px 1px;
    position: absolute;
    width: 93.45px;
    height: 35px;
    right: 30.48px;
    top: 8px;
  }

  .text-precio-mes{
    width: 88px;
    height: 24px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .pseudo-precios{
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 37px;
    left: -8px;
    top: 0px;
    border-left: 2px solid #FFFFFF;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
  }

.logo-tienda{
    position: absolute;
    width: 80px;
    height: 80px;
    left: calc(50% - 80px/2);
    top: 55px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
