.nav-header {
    background-color: #fff159;
    border: 0;
    position: relative
}
.nav-header-plus .nav-bounds {
    display: grid;
    grid-template-areas: "nav-left-top nav-center-top nav-right-top" "nav-left-bottom nav-center-bottom nav-right-bottom";
    grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
    grid-template-rows: 40px 28px;
    column-gap: 24px;
    grid-column-gap: 24px;
    row-gap: 12px;
    grid-row-gap: 12px;
    padding: 8px 10px 12px 10px
}

.nav-header-plus .nav-area {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.nav-header-plus .nav-top-area {
    height: 40px;
    -webkit-align-items: center;
    align-items: center
}

.nav-header-plus .nav-bottom-area {
    height: 28px;
    -webkit-align-items: flex-end;
    align-items: flex-end
}

.nav-header-plus .nav-left-area {
    justify-content: flex-start
}

.nav-header-plus .nav-right-area {
    justify-content: flex-end
}

.nav-header-plus .nav-left-area.nav-top-area {
    grid-area: nav-left-top;
}

.nav-header-plus .nav-center-area .nav-bottom-area {
    grid-area: nav-center-bottom;
    padding: 4px;
    margin: -4px;
    height: 36px
}

.nav-header-plus .nav-center-area.nav-top-area {
    grid-area: nav-center-top
}

.nav-header-plus-logo.nav-area.nav-top-area.nav-left-area {
}

.nav-header-plus .nav-left-area.nav-top-area {
    grid-area: nav-left-top;
}

.nav-header-plus .nav-left-area.nav-top-area:hover {
    z-index: 999
}

.nav-logo {
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -999px;
    background-image: url("https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.22.5/mercadolibre/logo__large_plus.png");
    height: 34px;
    width: 134px;
    display: -webkit-flex;
    display: flex;
    position: static;
    left: 0;
    top: 0
}

input[type=text].nav-search-input,input[type=search].nav-search-input {
    position: relative;
    z-index: 915;
    color: #333;
    font-size: 16px;
    margin: 0;
    font-family: inherit;
    border-radius: 2px;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 40px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: 1.5px
}

input[type=text].nav-search-input::-webkit-input-placeholder, input[type=search].nav-search-input::-webkit-input-placeholder {
    color: rgba(0,0,0,.25);
    font-size: 16px;
    font-weight: 400
}

button.nav-search-btn:before,button.nav-search-btn:focus:before {
    content: "";
    display: block;
    height: 26px;
    border-left: 1px solid #e6e6e6;
    position: absolute;
    top: 6.5px
}

.nav-search-btn .nav-icon-search:before {
    content: "";
    vertical-align: top
}
.nav-icon-close:before,.nav-icon-search:before {
    display: inline-block
}

.nav-header {
    height: 100px;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    background-color: #fff159;
    border: 0;
    position: relative
}

.nav-header-visually-hidden {
    position: absolute;
    z-index: -1;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: 0 -1px -1px 0;
    overflow: hidden;
    padding: 0;
    display: block
}

.margen1{
    /*margin-left: 150px;*/
    margin-top: 10px;  
}

.margen2{
    margin-left: 100px;
    margin-top: 11px;  
}

.organization{
    display: flex;
    gap: 18px;
}

.organization1{
    flex-direction: column;
    
}
.margen3{
    margin-left: 148;
    margin-right: 164;
}

.nav-bounds.nav-bounds-with-cart .nav-cart {
    overflow: hidden
}

.nav-bounds.nav-bounds-with-cart .nav-cart .nav-icon-cart-quantity>b {
    font-weight: inherit
}

.nav-bounds {
    display: block;
    padding: 0 10px;
    margin: 0 auto
}

.nav-bounds {
    max-width: 1220px
}

.nav-bounds .nav-cart {
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 22px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: visible
}

.nav-header .nav-bounds {
    display: flex;
    position: relative;
    padding: 8px 10px;
    height: 100%;
    width: 100%;
    max-width: 1200px
}
.nav-header,.nav-header *,.nav-header *:before,.nav-header *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}










